<app-toast [message]="toastMsg" [show]="showToast" [type]="toastType"></app-toast>
<section class="vh-100">
  <div class="container-fluid login-container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="/assets/logo.png" width="600" class="img-fluid" alt="login" />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-6 mb-0">Recuperar contraseña</p>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="email">Correo electrónico</label>
            <input
              type="email"
              id="email"
              class="form-control form-control-lg"
              [class.is-invalid]="
                email?.invalid && (email?.touched || email?.dirty || isSubmitted)
              "
              formControlName="email"
              placeholder="Ingrese su correo electrónico"
              autocomplete="email"
            />
            <div
              *ngIf="email?.errors?.['required'] && (email?.touched || email?.dirty || isSubmitted)"
              class="invalid-feedback d-block"
            >
              El correo es obligatorio.
            </div>
            <div
              *ngIf="email?.errors?.['email'] && (email?.touched || email?.dirty || isSubmitted)"
              class="invalid-feedback d-block"
            >
              Ingrese un correo válido.
            </div>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="submit"
              class="btn btn-main text-white"
              style="padding-left: 2rem; padding-right: 2rem"
              [disabled]="loading"
            >
              <span *ngIf="!loading">Enviar enlace de recuperación</span>
              <span *ngIf="loading">Procesando...</span>
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              ¿Ya tienes una cuenta? <a href="/login" class="link-main">Inicia sesión</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>