<section class="vh-100">
  <div class="container-fluid login-container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="/assets/logo.png" width="600" class="img-fluid" alt="login" />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-6 mb-0">Iniciar sesión</p>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="username">Usuario</label>
            <input
              type="text"
              id="username"
              class="form-control form-control-lg"
              [class.is-invalid]="
                username?.invalid && (username?.touched || username?.dirty || isSubmitted)
              "
              formControlName="username"
              placeholder="Ingrese su nombre de usuario"
              autocomplete="username"
            />
            <div
              *ngIf="username?.errors?.['required'] && (username?.touched || username?.dirty || isSubmitted)"
              class="invalid-feedback d-block"
            >
              El usuario es obligatorio.
            </div>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="password">Contraseña</label>
            <input
              type="password"
              id="password"
              class="form-control form-control-lg"
              [class.is-invalid]="
                password?.invalid && (password?.touched || password?.dirty || isSubmitted)
              "
              formControlName="password"
              placeholder="Ingrese una contraseña"
            />
            <div
              *ngIf="password?.errors?.['required'] && (password?.touched || password?.dirty || isSubmitted)"
              class="invalid-feedback d-block"
            >
              La contraseña es obligatoria.
            </div>
          </div>

          <p class="small fw-bold mb-4">
            <a href="/forgot-password" class="link-main">¿Olvidaste tu contraseña?</a>
          </p>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="submit"
              class="btn btn-main text-white"
              style="padding-left: 2rem; padding-right: 2rem"
              [disabled]="loading"
            >
              <span *ngIf="!loading">Iniciar sesión</span>
              <span *ngIf="loading">Procesando...</span>
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              ¿No tienes una cuenta? <a href="/register" class="link-main">Regístrate</a>
            </p>

            <div *ngIf="loginError" class="alert alert-danger mt-3 py-2">
              {{ loginError }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
