.btn-login {
    background-color: #5899A4;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 35px;
}
.btn-login:hover {
    background-color: #4a7a8c;
    transform: scale(1.05);
}

.link-register {
    color: #5899A4;
    text-decoration: none;
    font-weight: bold;
}