.custom-right {
  left: 80%;
  transform: translate(-50%, -50%);
}

.home-content {
  margin-top: 80px; 
    position: relative;
  z-index: 1;
    text-align: center;
  padding-top: 100px;
  
}

.home-bg-img {
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.5;
}

.icon-img {
  width: 150px;
  height: auto;
}

