
.navbar {
  min-height: 80px;
  font-size: 0.9rem; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

#labsync-logo {
  height: 50px; 
}

@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
}

.custom-center-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
