input,
.form-control {
  border-radius: 2rem;
}

input:focus,
.form-control:focus {
  border-color: #5899a4;
  box-shadow: 0 0 0 0.2rem rgba(88, 153, 164, 0.25);
  border-radius: 2rem;
}

.btn-main {
  background-color: #5899a4;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 35px;
}

.btn-main:hover {
  background-color: #41778a;
  transform: scale(1.08);
}

.btn-secondary {
  border: 2px solid #5899A4;
  background-color: #fff;
  color: #23404e; 
  font-weight: bold;
  font-size: 1.1rem;     
  padding: 0.70rem 2.2rem; 
  transition: transform 0.3s;
  border-radius: 35px;
}

.btn-secondary:hover {
  transform: scale(1.08);
  background-color: #fff;
  color: #23404e;
  border-color: #5899A4;
}


.link-main {
    color: #5899A4;
    text-decoration: none;
    font-weight: bold;
}

.btn-secondary-m {
  border: 1px solid #5899A4;
  background-color: #fff;
  color: #23404e; 
  font-size: 0.9rem;     
  transition: transform 0.3s;
  border-radius: 35px;
}

.btn-secondary-m:hover {
  transform: scale(1.08);
  background-color: #fff;
  color: #23404e;
  border-color: #5899A4;
}

body, app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
}

.password-rules {
  list-style: none;
  padding-left: 0;
  font-size: 0.95em;
}
.password-rules li {
  color: #198754;
}
.password-rules .text-danger {
  color: #dc3545;
}


